.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 12px;
}

.cardInnerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.cardInnerContainer div {
  margin-top: 8px;
}

@media (min-width: 1024px) {
  .cardContainer {
    width: fit-content;
  }
}
